<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{ghost_head}}
<style>
    body {
        text-align:center;
        padding: 36vh 0;
        font-size: 2.2vh;
    }
    span {
        display: inline-block;
    }
</style>
</head>
<body>
    <h1> Fabien O'Carroll </h1>
    <p><strong title="Dade Murphy, alias Crash Override, also known as Zero Cool">alias allouis, also known as egg AKA donny</strong></p>
    <span>email: <a href="mailto:fabien@allou.is">fabien@allou.is</a></span>
    <span>tel: <a href="tel:00447463477925">00447463477925</a></span>
    <span>twitter: <a href="https://twitter.com/allouis_">allouis_</a></span>
    <span>github: <a href="https://github.com/allouis">allouis</a></span>
    <span>blog: <a href="/blog">allou.is/blog</a></span>
    {{ghost_foot}}
</body>
</html>
