<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{ghost_head}}
</head>
<body>

    <header>
        <a href="/">
            <h1>{{@site.description}}</h2>
        </a>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a> &mdash; Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
    </footer>

    {{ghost_foot}}
</body>
</html>
